<div class="wrapper">
  <nav>
    <ul class="pagination">
      <li class="page-item" [ngClass]="currentPage === 0 ? 'disabled' : ''">
        <a class="page-link" (click)="previous()">Önceki</a>
      </li>
      <li
        class="page-item"
        *ngFor="let image of images; let i = index"
        [ngClass]="i === currentPage ? 'active' : ''"
      >
        <a class="page-link" (click)="change(i)">{{ i + 1 }}</a>
      </li>
      <li
        class="page-item"
        [ngClass]="currentPage === images.length - 1 ? 'disabled' : ''"
      >
        <a class="page-link" (click)="next()">Sonraki</a>
      </li>
    </ul>
  </nav>
  <div>
    <h4>{{ images[currentPage].title }}</h4>
    <img src="{{ images[currentPage].url }}" />
  </div>
</div>
